/Colecciones_Ejercicio_4/nbproject/private/
/Colecciones_Ejercicio_4/build/
/Colecciones_ejercicio_5/nbproject/private/
/Colecciones_ejercicio_5/build/
/Colecciones_Ejercicio_6/nbproject/private/
/Colecciones_Ejercicio_6/build/
